; func_redis.conf.sample
;
; Author : Sergio Medina Toledo <lumasepa at gmail>
;
; This program is free software, distributed under the terms of
; the GNU General Public License Version 2. See the LICENSE file
; at the top of the source tree.
;
; This file have the basic config for use redis from the asterisk dialplan


[general]

; host where is the redis server
hostname=127.0.0.1

; Port of the redis server
port=6379

; Database name in redis
dbname=asterisk

; Timeout on connect with the redis server
timeout=3