; func_redis.conf.sample
;
; Author : Sergio Medina Toledo <lumasepa at gmail>
;
; This program is free software, distributed under the terms of
; the GNU General Public License Version 2. See the LICENSE file
; at the top of the source tree.
;
; This is a basic config for use with the REDIS() functions from the asterisk dialplan


[general]

; host of the redis server
hostname=127.0.0.1

; port of the redis server
port=6379

; Database number in redis
db=0

; connection time out when connecting to the server
timeout=3
